@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --heading-color: hsl(192, 100%, 9%);
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --content-background: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

img {
    width: 50%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 40px;
}

.navbar img {
    width: 170px;
}

.navbar a {
    text-decoration: none;
    color: var(--pink);
    filter: blur(.6px);
    font-size: 18px;
    border: 1px solid;
    padding: 8px 29px;
    border-radius: 30px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 40px;
    margin-top: 50px;
    color: var(--heading-color);
}

.hero-text p {
    font-size: 23px;
    color: var(--heading-color);
    font-weight: 600;
    padding-bottom: 0px;
    text-align: center;
    width: 80%;
    margin-bottom: 2.5rem;
    opacity: .8;
}

.hero-text .get-started-button {
    color: white;
    background-color: var(--pink);
    font-size: 24px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 50px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-image {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.hero-image img {
    width: 80%;
}

.stats {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats img {
    width: 50px;
    align-self: flex-start;
}

.stats div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.stats h1 {
    font-size: 6rem;
    color: var(--heading-color);
    padding: 0;
    margin: 0;
}

.stats p {
    margin: 0;
    font-size: 1.6rem;
    color: var(--heading-color);
    font-weight: 500;
    opacity: 0.7;
}

.first {
    background-color: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
    height: 1200px;
    margin-bottom: 200px;
}

.first::after {
    background-position: bottom;
    content: '';
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.first::before {
    background-color: white;
    content: '';
    background-image: url(./images/bg-section-top-mobile-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.first img {
    padding-top: 16rem;
    width: 70%;
}

.first h2,
.second h2,
.third h2 {
    font-size: 34px;
    color: var(--heading-color);
}

.first p,
.second p,
.third p {
    color: var(--heading-color);
    font-size: 25px;
    font-weight: 600;
    opacity: .8;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

.second img,
.third img {
    width: 70%;
    margin-bottom: 70px;
}

.third {
    background-color: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
    height: 1200px;
    margin-bottom: 200px;
}

.third::after {
    background-position: bottom;
    content: '';
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.third::before {
    background-color: white;
    content: '';
    background-image: url(./images/bg-section-top-mobile-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer-hero {
    margin: 0;
    margin-bottom: 120px;
}

.footer-hero h2 {
    font-size: 35px;
    margin-top: 50px;
    color: var(--heading-color);
    margin-bottom: 80px;
}

.footer-hero a {
    color: white;
    background-color: var(--pink);
    font-size: 24px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 50px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 37, 46);
    color: white;
    z-index: -1;
    margin-top: 90px;
    padding-top: 100px;
    position: relative;
}

footer::before {
    content: ' ';
    background: white;
    background-image: url(./images/bg-footer-top-mobile.svg);
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-right,
.footer-left {
    width: 90%;
}

.footer-right h2 {
    font-size: 30px;
}

.footer-right p,
.footer-left p {
    width: 95%;
    padding: .5rem;
    padding-left: 0;
    line-height: 2;
    font-size: 19px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form input {
    padding-block: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

.form button {
    width: 44%;
    font-size: 20px;
    background-color: var(--pink);
    border: none;
    padding-block: 15px;
    padding-inline: 5px;
    border-radius: 8px;
    font-family: inherit;
    color: white;
    font-weight: 700;
    align-self: flex-end;
}

.contact {
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

.contact svg {
    margin-right: 15px;
}

.social {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-block: 3rem;
}

.social svg {
    font-size: 35px;
}

@media screen and (min-width:600px) {
    .hero-text p {
        font-size: 18px;
        width: 50%;
    }

    .hero-image {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .stats {
        flex-direction: row;
        justify-content: space-around;
    }

    .first,
    .third {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 800px;
        margin-bottom: 0px;
    }

    .first img,
    .second img,
    .third img {
        padding-top: 0;
        width: 30%;
        margin-inline: 50px;
    }

    .first p,
    .second p,
    .third p {
        text-align: left;
        width: 70%;
        font-size: 18px;
    }

    .first h2,
    .second h2,
    .third h2 {
        font-size: 25px;
    }


    .first::after {
        background-image: url(./images/bg-section-bottom-desktop-1.svg);
    }

    .first::before {
        background-image: url(./images/bg-section-top-desktop-1.svg);
    }

    .second {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-block: 100px;
    }

    .third::after {
        background-image: url(./images/bg-section-bottom-desktop-2.svg);
    }

    .third::before {
        background-image: url(./images/bg-section-top-desktop-2.svg);
    }

    .footer-hero h2 {
        margin-bottom: 40px;
    }

    footer {
        flex-direction: row-reverse;
        margin-top: 90px;
        padding-top: 200px;
        padding-left: 100px;
    }

    footer::before {
        background-image: url(./images/bg-footer-top-desktop.svg);
        height: 180px;
    }


    .footer-right,
    .footer-left {
        width: 50%;
    }

    .footer-right h2 {
        font-size: 20px;
    }

    .footer-right p,
    .footer-left p {
        width: 60%;
        padding: .2rem;
        padding-left: 0;
        line-height: 1.5;
        font-size: 14px;
    }

    .form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .form input {
        padding-block: 0px;
        border-radius: 6px;
        border: none;
        width: 60%;
        height: 45px;
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .form button {
        width: 20%;
        height: 45px;
        font-size: 15px;
        padding-block: 10px;
        border-radius: 6px;
        font-family: inherit;
        color: white;
        font-weight: 600;
        align-self: center;
    }

    .social {
        display: flex;
        width: 30%;
        justify-content: flex-start;
        margin-block: 3rem;
    }

    .social svg {
        font-size: 17px;
        margin-right: 20px;
    }

    /* 


.contact {
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

.contact svg {
    margin-right: 15px;
}


    */

}